body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px whitesmoke;
}

.title {
  text-align: center;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}

.search-container {
  display: flex;
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  outline: none;
}

.search-button {
  padding: 10px 20px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: darkred;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  animation: normal;
  animation-duration: 5s;
  color: whitesmoke;
}

.movie {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.movie:hover{
  background-color: red;
}

.movie img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.movie-info {
  padding: 10px;
}

.movie-info h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.movie-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}
.sedan-regular {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}

.sedan-regular-italic {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: italic;
}
.movie:hover{
  background-color: red;
transition: 1s ease;
}
a{
  color: darkred;
}